{% extends "base.html" %}

{% block title %}
    <title>Courses</title>
{% endblock %}

{% block content %}
    <h1>Cursos</h1>
    
    <ul id="links">
        <li>
            <a href="/courses/computacao-em-nuvem">{{courses[0]}}</a>
            <img src="../static/arrow.svg" alt="arrow">
        </li>
        <li>
            <a href="/courses/data-science">{{courses[1]}}</a>
            <img src="../static/arrow.svg" alt="arrow">
        </li>
        <li>
            <a href="/courses/engenharia-de-software">{{courses[2]}}</a>
            <img src="../static/arrow.svg" alt="arrow">
        </li>
        <li>
            <a href="/courses/inteligencia-artificial">{{courses[3]}}</a>
            <img src="../static/arrow.svg" alt="arrow">
        </li>
    </ul>
{% endblock %}